* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 100%;
}

#newBook {
    height: 30px;
    width: 80px;
    margin-bottom: 20px;
    justify-self: center;
}

.popup {
    visibility: hidden;
    display: grid;
    position: fixed;
    justify-self: center;
    border: black solid 1px;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    justify-content: center;
}

.formContent {
    display: grid;
    grid-template-rows: repeat(4, 50px);
}

.pageFinish {
    display: grid;
    justify-self: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

#pages {
    width: 60px
}

#addBook {
    display: grid;
    justify-self: center;
    height: 24px;
    width: 80px;
}

table {
    border: black solid 1px;
}

thead {
    font-weight: bold;
}

tbody>tr>td {
    /* font-weight: bold; */
    border: black solid 1px;
}

tbody>tr:nth-child(odd) {
    background-color: lightgray;
}